<div class="nav-bar">
    <div class="logo">
        <i class="fas fa-luggage-cart"></i>
    </div>
    <div class="menu">
        <ul>
            <li 
                routerLink=""
                routerLinkActive="activate"
                [routerLinkActiveOptions]="{exact:true}"
            >
                Por pais
            </li>
            <li 
                routerLink="region"
                routerLinkActive="activate"
            >
                Por Región
            </li>
            <li 
                routerLink="capital"
                routerLinkActive="activate"
            >
                Por Capital
            </li>
        </ul>
    </div>
</div>

